<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="Scripts/angular.js"></script>
    <script src="bower_components/ag-grid/dist/ag-grid.js"></script>
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <!--<script src="bower_components/system.js/dist/system.src.js"></script>
    <script src="bower_components/requirejs/require.js" ></script>-->
    <!--<script>
      System.config({
          defaultJSExtensions: true
      });
      System
        .import("Scripts/TestGrid/boot");
    </script>-->

    <script src="Scripts/TestGrid/App.js"></script>
    <script src="Scripts/TestGrid/Services/AppServices.js"></script>
    <script src="Scripts/TestGrid/Componants/AgGridComponant.js"></script>

    <!--<script>
        System.config({
            transpiler: 'typescript',
            packages: {
                src: {
                    defaultExtension: 'ts'
                }
            }
        });

        System
        .import('bower_components/ag-grid/main.d.ts')
        .then(null, console.error.bind(console));

    </script>-->
</head>
<body>
    <h1>TypeScript HTML App</h1>

    <div id="content" ng-app="TestGridApp" class="form-horizontal">
        <!--<div ag-grid="GCT.gridOptions" class="ag-fresh" style="height: 100%;"></div>-->
        <div class="form-group" ng-controller="TestGridApp.Cotrollers.SiCriteriaController as sic">
            <div class="col-sm-3"><input type="text" class="form-control" placeholder="ManagerCode" ng-model="sic.siCriteia.managerCode"></div>
            <div class="col-sm-1"><input type="button" class="form-control" placeholder="Last" value="search"></div>
        </div>
       <!-- <div ng-controller="TestGridApp.Cotrollers.SiCriteriaController as sic">
            <input type="text" ng-model="sic.siCriteia.managerCode" class="form-control input-sm" />
            <input type="button" class="form-control" value="Search"/>
        </div>-->
        <div ng-controller="TestGridApp.gridController as GCT" class="form-group">
            <ag-grid-component config="GCT.config"></ag-grid-component>
        </div>
    </div>
</body>
</html>
